# System files
.DS_Store
Thumbs.db

# IDE configuration files
.vscode/
.idea/

# Local environment files
.env
local.*
bin/*

#Python 
.venv/
__pycache__


# Secrets & Credentials
.env
.env.*
*.key
*.pem
credentials.*
*-key.json
*service-account*.json
.secrets

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
