# .github/workflows/1-analyze-resources.yml
name: '1 - Analyze Azure Resources'
on:
  push:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  analyze-azure-resources:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout code'
        uses: actions/checkout@v3

      - name: 'Azure Login'
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: 'Module 3.1.1: Find unattached disks'
        run: |
          az disk list --query "[?diskState=='Unattached'].{Name:name, ResourceGroup:resourceGroup, SizeGB:diskSizeGb, Location:location}" --output tsv > analysis-unattached-disks.tsv || true
          echo "Found $(wc -l < analysis-unattached-disks.tsv) unattaced disks"

      - name: 'Module 3.1.2: Find unassociated public IPs'
        run: |
          az network public-ip list --query "[?ipConfiguration==null].{Name:name, ResourceGroup:resourceGroup, IPAddress:ipAddress, Location:location}" --output tsv > analysis-unassociated-public-ips.tsv || true
          echo "Found $(wc -l < analysis-unassociated-public-ips.tsv) unassosiated public IPs."

      - name: 'Upload analysis results as artifact'
        uses: actions/upload-artifact@v3
        with:
          name: finops-analysis-results
          path: analysis-*.tsv
          if-no-files-found: ignore

      - name: 'Azure Logout'
        run: |
          az logout
          az cache purge
          az account clear